<h1 class="bio-title">My favourite thing: {{bioData.name}}</h1>
<img src="/images/{{bioData.avatar}}" alt="bio image">
<h3>Why {{bioData.name}} is one of my favourite things</h3>
<p class="bio-data">{{bioData.bio}}</p>