/* -------------------------------------------------- FOOTER -------------------------------------------------- */
.footer
{
	background-color: $black;
    margin-top: 15px;
    text-align: center;
    width: 100%; 
}

.footer-logo {
    width: 150px;
    margin: 30px 0px 0px 0px;
} 

/* Social Icon Classes */
.social-icons-container {
    width: 100%
}

.social-icons {
    width: 17px;
    height: 17px;
    margin: 20px 10px 15px 10px;
    fill: $white;
}

.social-icons:hover {
    fill: $maroon;
    transition-duration: 1s;
}

.social-icons:not(:hover) {
    transition-duration: 1s;
}

.footer-text {
    padding-top: 30px;
}

.tiny-footer-text {
    color: $white;
	font-family: Futura PT, Futura;
	font-size: 12px;
	line-height: 14px;
    font-weight: 100;
    padding: 0px 0px 25px 0px;
}